h1 {
    font-size: 1.7rem;
    line-height: 1.5; 
}

h2 {
    font-size: 1.4rem;
    line-height: 1.5; 
}

h3, h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 1.5; 
}

p, li {
    font-size: 1.2rem;
    line-height: 1.5; 
}

img {
    max-width: 100%;
    height: auto;
}

code {
    font-family: 'Cascadia Mono';
    font-size: 1.2rem;
}

pre {
    /* TODO: colorschemes */
    padding: 1rem;
}

blockquote {
    position: relative;
}

blockquote::before {
    content: "“";
    position: absolute;
    font-size: 2rem;
    left: -1.5rem;
    top: 0;
}

@media (min-width: 768px) {
    p, li {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3, h4, h5, h6 {
        font-size: 1.5rem;
    }
}