---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import NameAudio from '@/components/NameAudio.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Home" />
  <section class="text-xl">
    <p class="py-4 flex justify-start items-center gap-3">
      <span>i&middot;se&middot;o&middot;lu / iʃéolú /</span>
      <span class="text-base">NOUN (YORUBA)</span>
      <NameAudio />
    </p>
    <p>
      The work of God. An act of God. A statistical impossibility. Something that happens that
      makes <em>you</em> think: this can only be God. <em>Iséolúwa lèyí</em>.
    </p>
    <p>
      It's a beautiful name. I love it. My grandparents really cooked with that.
      I <em>am</em> the work of God, and I hope and pray that He completes His work in me.
    </p>
    <p>
      The word <span style="font-weight: bold;">essay</span> derives from the french <em>essayer</em>:
      to try, to attempt, to make an experimental effort. This is my attempt at essaying.
    </p>
    <p>
      I am a programmer at heart, I love robots, and I like thinking thoughts and asking dumb questions.
      Why is electricity so terrible in Nigeria? What do medical lab scientists even do? If you have answers,
      please let me know.
    </p>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl text-2xl font-medium">Recent Essays</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
