---
import { getCollection, render } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<MarkdownPostLayout frontmatter={post.data}>
    <div style="margin-bottom: 0.5em;">
        {post.data.tags && post.data.tags.length > 0 && (
            post.data.tags.map((tag) => (
                <a href={`/tags/${tag}`} style="margin-right: 0.5em; font-size: larger;">{tag}</a>
            ))
        )}
    </div>
    <h1 style="margin-bottom: 0.2em; margin-top: 0.2em;">{post.data.title}</h1>
    <div style="font-size: 1.3em; opacity: 0.7;">
        {post.data.pubDate.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            timeZone: 'UTC',
        })}
    </div>
    <Content />
</MarkdownPostLayout>
