---
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.png'
---

<header transition:persist>
  <div
    class="mx-auto flex max-w-3xl items-center justify-between gap-4 px-4 py-3"
  >
    <Link href="/" class="flex shrink-0 items-center justify-center">
      <Image src={logo} alt="Logo" class="h-5 w-15 sm:h-8 sm:w-24" />
    </Link>
    <div class="flex items-center sm:gap-4">
      <Link href="/blog" class="hover:underline capitalize text-xl">
        ESSAYS
      </Link>
      <ThemeToggle transition:persist />
    </div>
  </div>
</header>
