---
---
<button aria-label="Play name audio" style="background:none;border:none;cursor:pointer;padding:0;display:inline-flex;align-items:center;color:inherit" onclick="document.getElementById('iseolu-audio').play()">
  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24" style="vertical-align:middle">
    <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.74 2.5-2.26 2.5-4.02zm2.5 0c0 2.53-1.54 4.71-3.75 5.64v2.07c3.45-.91 6-4.01 6-7.71s-2.55-6.8-6-7.71v2.07C17.46 7.29 19 9.47 19 12z"/>
  </svg>
  <audio id="iseolu-audio" src="/iseolu.m4a" preload="auto"></audio>
</button>